<div class="album text-muted">
  <div class="container">
    <div class="row" id="product-list">
      <% @products.each do |product| %>
      <div class="card">
        <h6><%=product.name%></h6>
        <%=link_to(image_tag("#{product.url}", size: "280"), product_path(product))%>
        <h6>$<%=product.price_in_dollar%></h6>
      </div>
      <% end %>
    </div>
  </div>
</div>
