<div class="album text-muted">
  <div class="container">
    <div class="row" id="product-list">
      <% @products.each do |product| %>
      <div class="card index list">
        <%=link_to(image_tag("#{product.url}", size: "280", class: "all-list-img"), product_path(product))%>
        <h5><%=product.name%></h5>
        <h5><span class="badge badge-pill badge-warning">$<%=product.price_in_dollar%></span></h5>

      </div>
      <% end %>
    </div>
  </div>
</div>
