<div class="container">
  <div class="text-center">
    <%=image_tag("gina-profile.jpg", class: "rounded")%>
  <h2 class="myname">Gina Son</h2>
  <h4 class="mytitle">Full Stack Web Developer</h2>
  <div class="social-media">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/in/gina-son-7268b8ba/" class="fa fa-linkedin" target="_blank"></a>
    </li>
    <li class="list-inline-item">
      <a target="_blank" href="https://github.com/ginason" class="fa fa-github"></a>
    </li>
    <li class="list-inline-item">
      <a target="_blank" class="fa fa-youtube-play" href="https://www.youtube.com/channel/UCIR_ZDOJv-a0rH3qE32CYTg?view_as=subscriber"></a>
    </li>
    <li class="list-inline-item">
      <a class="fa fa-envelope" href="mailto:gina33son@gmail.com"></a>
    </li>
    <li class="list-inline-item">
      <a href="http://www.ginason.me/" class="fa fa-globe" target="_blank"></a>
    </li>
  </ul>
</div>
</div>
</div>
