
  <div class="jumbotron">
    <h1 class="display-e">Leave your reviews</h1>
    <p class="lead">Leave Your Reviews is a app which allows you to post a product and share your reviews for the product. Once you post your product, you will see other similar products from the Amazon website. As well you are able to leave your reviews for all the products in the app.
    Let’s try!
    </p>
    <hr class="my-4">
    <p>Web Application Framwork: Ruby on Rails</p><br>
    <p>Skills: HTML5, CSS, PostgreSQL, Bootstrap</p><br>
    <p>Web API: Amazon Product Advertising API</p>
    <%=link_to "Try it", new_product_path, class: "btn btn-primary btn-lg"%>
  </div>
