<div class="container">
  <div class="card mb-3">
    <%=image_tag("meetmiddle.png", class: "card-img-top")%>
    <div class="card-body">
      <h4 class="card-title">Meet in the Middle</h4>
      <p>This is the app where you can find middle point between you and your friends using Google Maps API. In the middle point you can fine some activities from Yelp API.</p>
      <p class="card-text"><%=link_to "Check it out", "http://www.middlemeet.co", target: "_blank"%></p>
    </div>
  </div>

  <div class="card mb-3">
    <%=image_tag("mathwhatever.png", class: "card-img-top")%>
    <div class="card-body">
      <h4 class="card-title">Mathwhatever</h4>
      <p class="card-text">This is my YouTube channel which is sharing and teaching for Mathmetices.</p>
      <p class="card-text"><%=link_to "Check it out", "https://www.youtube.com/channel/UCIR_ZDOJv-a0rH3qE32CYTg?view_as=subscriber", target: "_blank"%> </p>
    </div>
  </div>
</div>
